# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Colcon build artifacts
**/build/
**/install/
**/log/

# Python build artifacts
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# VS Code settings (optional)
.vscode/

# ROS 2 specific intermediate files
COLCON_IGNORE


# Node modules
**/node_modules/
.DS_Store